body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: azure;
}
.img-card {
    display: inline-block;
    width: 300px;
background-color: white;
position: relative;
box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15);
border-radius: 5px;
overflow: hidden;
}
.img-card img{
    width: 100%;
    display: block;
}
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    font-size: 11px;
    border-radius: 3px;
    padding: 5px 10px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: paleturquoise;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
}
.img-card:hover .overlay{
opacity: 1;
}